<form id="set1challenge1" class='challenge'>
    <h4 id="forms">Set 1 Challenge 1</h4>
    <fieldset>
        <legend>Hex Input</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>Input</label>
                <textarea name="input" class="input-field"></textarea>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Base 64 Output</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>Output</label>
                <textarea name="output" class="output-field"></textarea>
                default: SSdtIGtpbGxpbmcgeW91ciBicmFpbiBsaWtlIGEgcG9pc29ub3VzIG11c2hyb29t
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Action</legend>
        <div class="row">
            <div class="large-12 columns">
                <input class="button submit" value="Submit" type="submit">
            </div>
        </div>
    </fieldset>
</form>
