<form id="set1challenge4" class='challenge'>
    <h4 id="forms">Set 1 Challenge 4</h4>
    <fieldset>
        <legend>Hex List Input</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>Input</label>
                <textarea name="input0" class="input-field" rows="4"></textarea>
            </div>
        </div>
        <legend>XOR Key</legend>
        <div class="row">
            <div class="large-4 columns">
                <label>Input</label>
                <input type="text" name="input1" class="input-field xor-key">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Output</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>Hex Output</label>
                <textarea name="output0" class="output-field"></textarea>
            </div>
            <div class="large-12 columns">
                <label>Raw Output</label>
                <textarea name="output1" class="output-field"></textarea>
                Default autoscans to key 53 with input 7b5...23f "Now that the party..." as output. See console.
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Action</legend>
        <div class="row">
            <div class="large-6 columns">
                <input class="button submit" value="Submit" type="submit">
            </div>
            <div class="large-4 columns">
                <input class="button success button-auto right" value="Auto" type="submit">
            </div>
        </div>
    </fieldset>
</form>
