
<form id="set1challenge5" class='challenge'>
    <h4 id="forms">Set 1 Challenge 5</h4>
    <fieldset>
        <legend>String Input A</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>Plaintext</label>
                <textarea name="inputa" class="input-field"></textarea>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>String Input B</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>Key</label>
                <textarea name="inputb" class="input-field"></textarea>
                Will be repeated if shorter than A.
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Hex XOR Output</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>Ciphertext</label>
                <textarea name="output" class="output-field"></textarea>
                default: <br/>
                0b3637272a2b2e63622c2e69692a23693a2a3c6324202d623d63343c2a26226324272765272<br/>
                a282b2f20430a652e2c652a3124333a653e2b2027630c692b20283165286326302e27282f
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Action</legend>
        <div class="row">
            <div class="large-12 columns">
                <input class="button submit" value="Submit" type="submit">
            </div>
        </div>
    </fieldset>
</form>
