<form id="set1challenge6" class='challenge'>
    <h4 id="forms">Set 1 Challenge 6</h4>
    <fieldset>
        <legend>String Input A</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>string</label>
                <textarea name="inputa" class="input-field"></textarea>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>String Input B</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>string</label>
                <textarea name="inputb" class="input-field"></textarea>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Output</legend>
        <div class="row">
          <div class="large-12 columns">
              <label>chart</label>
              <textarea name="output" class="output-field"></textarea>
              37
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>number</label>
            <div class="chart">...</div>
          </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Action</legend>
        <div class="row">
            <div class="large-12 columns">
                <input class="button submit" value="Submit" type="submit">
            </div>
        </div>
    </fieldset>
</form>
