<form id="challenge2" class='challenge'>
    <h4 id="forms">Set 1 Challenge 2</h4>
    <fieldset>
        <legend>Hex Input A</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>Input</label>
                <textarea name="inputa" class="input-field"></textarea>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Hex Input B</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>Input</label>
                <textarea name="inputb" class="input-field"></textarea>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Hex XOR Output</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>Output</label>
                <textarea name="output" class="output-field"></textarea>
                default: 746865206b696420646f6e277420706c6179
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Action</legend>
        <div class="row">
            <div class="large-12 columns">
                <input class="button submit" value="Submit" type="submit">
            </div>
        </div>
    </fieldset>
</form>
